@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin general-shadow {
    box-shadow: .5rem 2rem 4rem rgba($shadow-black, .6);
}

@mixin footer_border_top {
    border-top: 3px solid $dark-gray-1;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin li_number {
    height: 2rem;
    color: $white;
    margin-right: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
}

// media query managery

/*
phone: 0 - 600px

portrait tablet: 601px - 900px

landscape tablet: 901px - 1200px

desktop: 1201px - 1800px [starting point]

large desktop/tv: 1801px +
*/

//media queries ORDER: Base + typography -> general layout + grid -> page layout -> components


/*
breakpoint argument choices:
- phone
- tab-port
- tab-land
-big-desktop
*/
@mixin respond($breakpoint) {


        @if $breakpoint == extra {
            @media only screen and (min-width: 112.51em) { @content }; //1801px+

        }

        @if ($breakpoint == phone) {
            @media only screen and (max-width: 37.5em) { @content }; //600px
        }
       
        @if ($breakpoint == tab-port) {
            @media only screen and (max-width: 56.25em) { @content}; //900px
        }

        @if ($breakpoint == tab-land) {
            @media only screen and (max-width: 75em) { @content }; //1200px
        }

        @if ($breakpoint == big) {
            @media only screen and (max-width: 112.5em) { @content }; //1800px
        }

}

@mixin all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

