//greens

$primary-color-light: #7ed56f;
$primary-color: #55c57a;
$primary-color-dark: #28b485;

//grays/blacks

$shadow-black: rgb(0, 0, 0);
$light-gray-1: rgb(248, 247, 247);
$dark-gray-1: rgb(90, 89, 89);


//grid layout

$grid-width: 114rem;
$grid-gutter-vert: 8rem;
$grid-gutter-hor: 6rem;