@keyframes headingSpan1 {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: .8;
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes headingSpan2 {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: .8;
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(rem); } }

@keyframes discover_btn {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  background-color: #fff;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-position: center;
  padding: 2rem; }

.header__button-n-text .heading--primary {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  color: #fff; }

.heading--primary span:nth-of-type(1) {
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.2rem;
  animation: headingSpan1 2s ease-in-out;
  backface-visibility: hidden;
  /* hides part behind animation, prevents wiggle in animation */ }

.heading--primary span:nth-of-type(2) {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.035rem;
  animation: headingSpan2 2s ease-in-out;
  backface-visibility: hidden;
  /* hides part behind animation, prevents wiggle in animation */ }

.discover-button-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem; }

.btn-white {
  color: #777; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewY(6deg) skewX(12deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.para {
  font-size: 1.6rem; }
  .para:not(:last-of-type) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-h3-margin-bottom-small {
  margin-bottom: 1.5rem; }

.heading-tertiary {
  text-transform: uppercase; }

.btn {
  border: none;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  /* 
    .btn::after and .btn:hover::after transition/transform, opacity is used to create the flash effect of hovering over the button
    */ }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    /*    
      height/width/border-radius, etc. set to 100% 
      so it matches the element that it is "psuedo'd to"     
      */
    width: 100%;
    border-radius: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .225s; }
  .btn:hover::after {
    transform: scaleX(1.75) scaleY(1.175);
    opacity: 0; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn--white {
    border: none;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.4);
    position: relative;
    animation: discover_btn 1.25s ease-in .25s backwards;
    background-color: #fff;
    color: #777;
    padding: 1rem 2.25rem; }
  .btn--animated:hover {
    transform: translateY(-0.25rem); }
  .btn--animated:active {
    transform: translateY(0.125rem); }
  .btn--animated::after {
    background-color: #fff; }

.btn-about {
  margin-top: 2rem; }
  .btn-about:link, .btn-about:visited {
    color: #28b485;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #28b485;
    padding: .5rem 1.5rem;
    transition: all 1s; }
  .btn-about:hover {
    font-size: 1.6rem;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #28b485;
    border-bottom: 1px solid #fff;
    transform: scaleY(-2px); }
  .btn-about:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: scaleY(0px);
    transition: all .25s; }

.composition {
  position: relative; }
  .composition__photo {
    margin-top: 20%;
    width: 65%;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    transition: all 1s; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 15%;
      left: 17.5%; }
    .composition__photo--p3 {
      top: 5%;
      left: 50%; }
    .composition__photo:hover {
      border: 1.85rem solid #28b485;
      padding: 1.15rem;
      transform: scale(1.2);
      z-index: 3;
      box-shadow: 0 2.25 7.5rem rgba(0, 0, 0, 0.4); }
    .composition__photo:not(:hover) {
      transform: scale(0.925);
      z-index: 2; }

.feature-box {
  width: 21rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1.5rem 20rem rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  transition: transform .6s; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.075) skewY(9deg); }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.header {
  height: 95vh;
  display: flex;
  background-color: #777;
  background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 2rem; }

.header__logo {
  height: 2rem; }

.header__button-n-text {
  margin: auto;
  align-self: center; }

.body-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: [left-start] 1fr [two-start] 1fr [three-start] 1fr [four-start] 1fr [five-start] 1fr [six-start] 1fr [very-center] 1fr [eight-start] 1fr [nine-start] 1fr [ten-start] 1fr [eleven-start] 1fr [tweele-start] 1fr [right-end];
  grid-template-rows: repeat(6, 85vh); }
  .body-grid .div {
    border: 1px solid silver; }
    .body-grid .div:nth-of-type(1) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: very-center;
      grid-row-start: 1;
      grid-row-end: 2; }
    .body-grid .div:nth-of-type(2) {
      background-color: #fff;
      grid-column-start: 7;
      grid-column-end: right-end;
      grid-row-start: 1;
      grid-row-end: 2; }
    .body-grid .div:nth-of-type(3) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3; }
    .body-grid .div:nth-of-type(4) {
      background-color: #fff;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 3; }
    .body-grid .div:nth-of-type(5) {
      background-color: #fff;
      grid-column-start: 9;
      grid-column-end: right-end;
      grid-row-start: 2;
      grid-row-end: 3; }
    .body-grid .div:nth-of-type(6) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4; }
    .body-grid .div:nth-of-type(7) {
      background-color: #fff;
      grid-column-start: 4;
      grid-column-end: right-end;
      grid-row-start: 3;
      grid-row-end: 4; }
    .body-grid .div:nth-of-type(8) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5; }
    .body-grid .div:nth-of-type(9) {
      background-color: #fff;
      grid-column-start: 4;
      grid-column-end: very-center;
      grid-row-start: 4;
      grid-row-end: 5; }
    .body-grid .div:nth-of-type(10) {
      background-color: #fff;
      grid-column-start: very-center;
      grid-column-end: 10;
      grid-row-start: 4;
      grid-row-end: 5; }
    .body-grid .div:nth-of-type(11) {
      background-color: #fff;
      grid-column-start: 10;
      grid-column-end: right-end;
      grid-row-start: 4;
      grid-row-end: 5; }
    .body-grid .div:nth-of-type(12) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6; }
    .body-grid .div:nth-of-type(13) {
      background-color: #fff;
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 6; }
    .body-grid .div:nth-of-type(14) {
      background-color: #fff;
      grid-column-start: 7;
      grid-column-end: right-end;
      grid-row-start: 5;
      grid-row-end: 6; }
    .body-grid .div:nth-of-type(15) {
      background-color: #fff;
      grid-column-start: left-start;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 7; }
    .body-grid .div:nth-of-type(16) {
      background-color: #fff;
      grid-column-start: 4;
      grid-column-end: right-end;
      grid-row-start: 6;
      grid-row-end: 7; }

.section-about {
  background-color: #f7f7f7;
  padding: 19rem 15rem;
  margin-top: -20vh;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); }
  .section-about .grid_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem; }

.features {
  justify-content: space-evenly;
  background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: left;
  gap: 2rem;
  padding: 12rem 0 15rem;
  transform: skewY(-9deg);
  margin-top: -11rem; }

.row {
  display: flex;
  justify-content: space-evenly;
  padding: 16rem 6rem;
  gap: 4rem; }
  .row > * {
    transform: skewY(9deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 5rem 15rem;
  margin-top: -12rem;
  transform: skewY(-9deg);
  text-align: center; }
  .section-tours > * {
    transform: skewY(9deg); }
  .section-tours .heading-tertiary {
    background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3em; }
  .section-tours .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem; }
