@keyframes headingSpan1 {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: .8;
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes headingSpan2 {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: .8;
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(rem); } }

@keyframes discover_btn {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  background-color: #fff;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-position: center;
  padding: 2rem; }

.header__button-n-text .heading--primary {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  color: #fff; }

.heading--primary span:nth-of-type(1) {
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.2rem;
  animation: headingSpan1 2s ease-in-out;
  backface-visibility: hidden;
  /* hides part behind animation, prevents wiggle in animation */ }

.heading--primary span:nth-of-type(2) {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.035rem;
  animation: headingSpan2 2s ease-in-out;
  backface-visibility: hidden;
  /* hides part behind animation, prevents wiggle in animation */ }

.discover-button-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem; }

.btn-white {
  color: #777; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewY(6deg) skewX(12deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-non-animated {
  transition: none; }
  .heading-non-animated:hover {
    transform: none;
    text-shadow: none; }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.para {
  font-size: 1.6rem; }
  .para:not(:last-of-type) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }

.u-h3-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-med {
  margin-top: 4rem; }

.heading-tertiary {
  text-transform: uppercase; }

.text-center {
  width: 100%;
  text-align: center; }

.btn {
  border: none;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  /* 
    .btn::after and .btn:hover::after transition/transform, opacity is used to create the flash effect of hovering over the button
    */ }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    /*    
      height/width/border-radius, etc. set to 100% 
      so it matches the element that it is "psuedo'd to"     
      */
    width: 100%;
    border-radius: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .225s; }
  .btn:focus {
    display: none; }
  .btn:hover::after {
    transform: scaleX(1.75) scaleY(1.175);
    opacity: 0; }
  .btn, .btn:link, .btn:visited {
    text-decoration: none; }
  .btn--white {
    border: none;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.4);
    position: relative;
    animation: discover_btn 1.25s ease-in .25s backwards;
    background-color: #fff;
    color: #777;
    padding: 1rem 2.25rem; }
  .btn--green {
    background-color: #55c57a;
    border: none;
    margin: 0 auto;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
    margin-top: 3.5rem;
    z-index: 1; }
  .btn--animated:hover {
    transform: translateY(-0.25rem); }
  .btn--animated:active {
    transform: translateY(0.125rem); }
  .btn--animated::after {
    background-color: #fff; }

.btn-about {
  margin-top: 2rem; }
  .btn-about:last-of-type {
    display: block;
    width: 100%;
    margin-top: 2rem;
    transition: all 1.5s;
    opacity: 1; }
  .btn-about:hover {
    transform: translateX(-10%);
    width: 50%;
    transition: all 1s; }
  .btn-about:active {
    transform: translateX(120%);
    opacity: 0;
    animation-fill-mode: forwards; }
  .btn-about:link, .btn-about:visited {
    color: #28b485;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #28b485;
    padding: 0.5rem 1.5rem;
    transition: all 1s; }
  .btn-about:hover {
    font-size: 1.6rem;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #28b485;
    border-bottom: 1px solid #fff;
    transform: scaleY(-2px); }
  .btn-about:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: scaleY(0px);
    transition: all .25s; }

/* .green-button-container {

      position: relative;

      .btn--animated::after {
        width: 16rem;
        height: 4rem;
        position: absolute;
        opacity: 1;



        &:active {
          opacity: 1;
        }

        &.btn--animated:nth-of-type(2)::after {
          position: absolute;
          top: 5rem;
        }
      }
  } */
.card {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 100%;
    transition: all .9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.4);
    backface-visibility: hidden; }
    .card__side--front .card__picture {
      background-size: cover;
      position: relative; }
      .card__side--front .card__picture--1 {
        background-image: linear-gradient(to left bottom, #ffb900, orangered), url(../img/nat-5.jpg);
        background-blend-mode: screen;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        height: 45%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card__side--front .card__picture--2 {
        background-image: linear-gradient(to left bottom, #55c57a, #28b485), url(../img/nat-6.jpg);
        border-radius: 4px;
        background-blend-mode: screen;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        height: 45%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card__side--front .card__picture--3 {
        background-image: linear-gradient(to left bottom, #3e56da, #83b6cc), url(../img/nat-7.jpg);
        border-radius: 4px;
        background-blend-mode: screen;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        height: 45%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to left bottom, #ffb900, orangered); }
      .card__side--back-2 {
        background-image: linear-gradient(to left bottom, #55c57a, #55c57a); }
      .card__side--back-3 {
        background-image: linear-gradient(to left bottom, #3e56da, #83b6cc); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__heading {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 65%; }
  .card__heading-span--1 {
    background-image: linear-gradient(to left bottom, rgba(255, 185, 0, 0.8), rgba(255, 69, 0, 0.8));
    padding: 1.2rem .95rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .card__details ul {
    list-style: none;
    height: 100%;
    margin: 4rem auto;
    width: 80%; }
    .card__details ul li {
      line-height: 2rem; }
      .card__details ul li a {
        text-decoration: none;
        color: #777;
        font-size: 1.25rem;
        padding-bottom: 1rem;
        display: block; }
        .card__details ul li a:not(last-of-type) {
          margin: 1rem 5%;
          border-bottom: 1.25px solid #c0c4c9; }
  .card__cta {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__cta > .btn--white,
    .card__cta .btn--animated {
      box-shadow: none;
      animation: none;
      z-index: 0; }
  .card__price-only {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 2.5rem 0 4rem; }
  .card__heading-span--2 {
    background-image: linear-gradient(to left bottom, rgba(85, 197, 122, 0.8), rgba(85, 197, 122, 0.8));
    padding: 1.2rem .95rem; }
  .card__details ul {
    list-style: none;
    height: 100%;
    margin: 4rem auto;
    width: 80%; }
    .card__details ul li {
      line-height: 2rem; }
      .card__details ul li a {
        text-decoration: none;
        color: #777;
        font-size: 1.25rem;
        padding-bottom: 1rem;
        display: block; }
        .card__details ul li a:not(last-of-type) {
          margin: 1rem 5%;
          border-bottom: 1.25px solid #c0c4c9; }
  .card__cta {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__cta > .btn--white,
    .card__cta .btn--animated {
      box-shadow: none;
      animation: none;
      z-index: 0; }
  .card__price-only {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 2.5rem 0 4rem; }
  .card__heading-span--3 {
    background-image: linear-gradient(to left bottom, rgba(62, 86, 218, 0.8), rgba(131, 182, 204, 0.8));
    padding: 1.2rem .95rem; }
  .card__details ul {
    list-style: none;
    height: 100%;
    margin: 4rem auto;
    width: 80%; }
    .card__details ul li {
      line-height: 2rem; }
      .card__details ul li a {
        text-decoration: none;
        color: #777;
        font-size: 1.25rem;
        padding-bottom: 1rem;
        display: block; }
        .card__details ul li a:not(last-of-type) {
          margin: 1rem 5%;
          border-bottom: 1.25px solid #c0c4c9; }
  .card__cta {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__cta > .btn--white,
    .card__cta .btn--animated {
      box-shadow: none;
      animation: none;
      z-index: 0; }
  .card__price-only {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 2.5rem 0 4rem; }

.composition {
  position: relative;
  margin-left: 5rem;
  height: 75%; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    transition: all 1s; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 15%;
      left: 17.5%; }
    .composition__photo--p3 {
      top: 5%;
      left: 50%; }
    .composition__photo:hover {
      border: 1.85rem solid #28b485;
      padding: 1.15rem;
      transform: scale(1.2);
      z-index: 3;
      box-shadow: 0 2.25 7.5rem rgba(0, 0, 0, 0.4); }
    .composition__photo:not(:hover) {
      transform: scale(0.925);
      z-index: 2; }

.feature-box {
  width: 21rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1.5rem 20rem rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  transition: transform .6s; }
  .feature-box:hover {
    transform: translateY(-2rem) scale(1.075) skewY(-9deg); }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin-top: 2rem;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  display: block;
  width: 75%;
  color: inherit; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #28b485; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered; }

.form__label {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  transition: all .35s;
  opacity: 1;
  color: #555; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translate(-0.1rem, -4.6rem); }

.form__radio-group {
  width: 50%;
  display: inline-block; }

.form__group--radio {
  display: flex;
  padding: 2.5rem; }
  .form__group--radio--small, .form__group--radio--large {
    width: 30%; }

.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #28b485;
  display: inline-block;
  position: absolute;
  top: -1.15rem;
  left: -2.825rem; }
  .form__radio-button::after {
    content: '';
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #28b485;
    position: absolute;
    top: .5rem;
    left: .5rem;
    opacity: 0;
    transition: opacity 1ms; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: border-radius--small;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.5rem;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: 50%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(47% at 47% 50%);
    transform: translateX(-3rem);
    position: relative; }
  .story > * {
    transform: skewX(12deg); }
  .story__img {
    width: 100%;
    height: 100%;
    transform: scale(1.75);
    transition: all 1s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, 120%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-60%, -50%); }
  .story:hover .story__img {
    transform: translateY(-1rem) scale(1.15);
    filter: blur(10px) brightness(75%); }
  .story:first-child {
    margin-bottom: 4rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden; }

.header {
  height: 95vh;
  display: flex;
  background-color: #777;
  background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 2rem; }

.header__logo {
  height: 2rem; }

.header__button-n-text {
  margin: auto;
  align-self: center; }

/*
.body-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 2rem;
 grid-template-columns:
 [left-start]1fr[two-start]1fr[three-start]1fr[four-start]1fr[five-start]1fr[six-start]1fr[very-center]1fr[eight-start]1fr[nine-start]1fr[ten-start]1fr[eleven-start]1fr[tweele-start]1fr[right-end]
 ;
  grid-template-rows: repeat(6, 85vh);
}  
*/
.footer {
  margin-top: -17.5rem;
  padding: 30rem;
  background-color: #555;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  z-index: 5; }
  .footer__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 50%; }
  .footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem; }
  .footer__text {
    width: 50%; }
  .footer__copyright {
    color: #fff;
    font-size: 1.5rem; }
    .footer__copyright a {
      text-decoration: none;
      color: #55c57a; }
    .footer__copyright span {
      font-style: italic;
      font-weight: 800; }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 45rem;
  margin-top: -20vh;
  transform: skewY(-9deg); }
  .section-about > * {
    transform: skewY(9deg); }
  .section-about .grid_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem; }

.features {
  justify-content: space-evenly;
  background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: left;
  gap: 2rem;
  padding: 15rem 0 15rem;
  margin-top: -7.5rem;
  transform: skewY(-9deg); }
  .features > * {
    transform: skewY(9deg); }
  .features .row {
    display: flex;
    justify-content: space-between; }

.row {
  height: 100%;
  padding: 16rem 6rem;
  gap: 4rem; }
  .row:nth-of-type(2) {
    padding-top: 8rem; }

.section-tours {
  background-color: #f7f7f7;
  transform: skewY(-9deg);
  text-align: center;
  padding: 12.5rem;
  position: relative; }
  .section-tours > * {
    transform: skewY(9deg); }
  .section-tours .btn-green {
    transform: skewY(9deg); }
  .section-tours .heading-tertiary {
    background-image: linear-gradient(to top left, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.7));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3em;
    width: 75%; }
  .section-tours .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 15%;
    margin-top: 4rem;
    perspective: 150rem;
    -moz-perspective: 150rem; }

.section-stories {
  padding: 20rem 5rem;
  background-color: none;
  margin: -15rem auto;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
  transform: skewY(-9deg);
  margin-top: -8.5rem; }
  .section-book > * {
    transform: skewY(9deg); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  height: 50rem;
  width: 100%; }
  .book__form {
    width: 50%;
    padding: 6rem; }

.footer {
  margin-top: -17.5rem;
  padding: 30rem;
  background-color: #555;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  z-index: 5; }
  .footer__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 50%; }
  .footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem; }
  .footer__text {
    width: 50%; }
  .footer__copyright {
    color: #fff;
    font-size: 1.5rem; }
    .footer__copyright a {
      text-decoration: none;
      color: #55c57a; }
    .footer__copyright span {
      font-style: italic;
      font-weight: 800; }
