* {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: $white;
}

html {
    background-color: $white;

}

body {
    /*background-color: rgb(218, 218, 218);*/  
    background-position: center; 
    padding: 2rem;
}