
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-position: center;
  padding: 2rem;
}

.header__button-n-text .heading--primary {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto; 
    color: $white;
  }

     .heading--primary span:nth-of-type(1) {
      font-size: 2.5em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.2rem;
      animation: headingSpan1 2s ease-in-out;
      backface-visibility: hidden;
      /* hides part behind animation, prevents wiggle in animation */ 
    }


     .heading--primary span:nth-of-type(2) {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.035rem;
      animation: headingSpan2 2s ease-in-out;
      backface-visibility: hidden;
      /* hides part behind animation, prevents wiggle in animation */ 
    }


  .discover-button-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem; 
  }

  .btn-white {
    color: $med-gray;
  }

  .heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 2s;
    letter-spacing: .2rem;

    
    &:hover {
      transform: skewY(6deg) skewX(12deg) scale(1.2);
      text-shadow: .5rem 1rem 2rem $shadow;
    }
  }

  .heading-non-animated {
    transition: none;

    &:hover {
      transform: none;
      text-shadow: none;
    }
  }

  .heading-tertiary {
    font-size: $small;
    font-weight: 700;
    text-transform: uppercase
  }

  .para {
    font-size: $default-font-size;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }

  }