html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.heading--primary {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    span:nth-of-type(1) {
        font-size: 2.5em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.2rem;
        animation: headingSpan1 2s ease-in-out;
        backface-visibility: hidden;
        /* hides part behind animation, prevents wiggle in animation */
    }



    span:nth-of-type(2) {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.035rem;
        animation: headingSpan2 2s ease-in-out;
        backface-visibility: hidden;
        /* hides part behind animation, prevents wiggle in animation */
        
    }

}