.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-med {
    margin-bottom: 4rem;
}

.u-h3-margin-bottom-small {
    margin-bottom: $general-size;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-med {
    margin-top: 4rem;
}

.heading-tertiary {
    text-transform: uppercase;
    margin: 0 auto;
}

.text-center {
    width: 100%;
    text-align: center;
}

//button-containing divs

.button__container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
    align-items: center;
  }

  .two-at-small {
    @include respond(tab-land) {
        padding: 12rem 3rem;
        justify-content: space-evenly;
        gap: 2.5rem;
      }
  
      @include respond(phone) {
        flex-wrap: wrap;
        padding: 4rem 6rem;
        gap: 6rem;
  
        .feature-box {
          width: 35%;
          height: 20rem;
        }
      }
  }
