.section-about {
    background-color: $color-gray-light-1;
    padding: 19rem 15rem;
    margin-top: -20vh;
    clip-path: $sub-header_div-angle;

    .grid_1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 3rem;
    }

}

.features {
    justify-content: space-evenly;
    background-image: linear-gradient(
      to top left, 
      rgba($color-primary-light, 0.7), 
      rgba($color-primary-dark, 0.7)), 
      url(../img/nat-4.jpg);
    background-size: cover;
    background-position: left;
    gap: 2rem;
    padding: 12rem 0 15rem;
    transform: skewY(-9deg);
    margin-top: -11rem;
  }

  // features section

  .row {
    display: flex;
    justify-content: space-evenly;
    padding: 16rem 6rem;
    gap: 4rem;

    & > * {
      transform: skewY(9deg);
    } 
  }

.section-tours {
  background-color: $color-gray-light-1;
  padding: 5rem 15rem ;
  margin-top: -12rem;
  transform: skewY(-9deg);
  text-align: center;

  & > * {
    transform: skewY(9deg);
  }

  .heading-tertiary {
    background-image: linear-gradient(
      to top left, 
      rgba($color-primary-light, 0.7), 
      rgba($color-primary-dark, 0.7));    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3em;
  }

  .grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-top: $med;
  }
}