.btn {


    &:link,
    &:visited {
    font-size: $regular;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    position: relative;


    }

    &--animated {
        animation: buttonUp 1.5s ease-in-out backwards;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        transition: all .3s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    
    /* begin header button animation */
    
    &:hover {
        transform: translateY(-.25rem);
        transition: all .175s;
        box-shadow: $great rgba($shadow-black, 0.4);

        &::after {
            transform: scale(1.5);
            opacity: 0;
        }
    
    }
    
    &:active {
        transform: translateY(.05rem);
        box-shadow: $moderate rgba($shadow-black, 0.4);
    
    }
    
    /* end header button animation */
    
    
    &--white {
        background-color: $white;
        color: #000;
    
        &::after {
            background-color: $white;
        }
    }

    &--green {
        
        background-color: $primary-color;
        color: $white;

        &::after {
            background-color: $primary-color;
        }
       
    }

}

.green-button {

    display: inline-block;
    padding: 2px;

    &:link, &:visited {
    color: $primary-color-dark;
    border-bottom: 1.5px solid $primary-color-dark;


    }

    &:hover {
        background-color: $primary-color-dark;
        color: $white;
        border-bottom: 1.5px solid $white;
        font-weight: 900;
        font-size: 1.1rem;
        box-shadow: $moderate rgba($shadow-black, 0.4);
        animation:  green-click .2s ease-in forwards;
    }

    &:active {
        transform: scale(1.025);
        box-shadow: $minor rgba($shadow-black, 0.4);
        transform: scale(.9);
    }
    
}