.header {
    height: 95vh;
    display: flex;
    padding-bottom: 10rem;
    background-color: $med-gray;
    background-image: linear-gradient(
        to top left, 
        rgba($color-primary-light, 0.7), 
        rgba($color-primary-dark, 0.7)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

.header__logo-box {
  position: absolute;
  top: 5rem;
  left: 5rem; 
  height: 2rem;
  
}

.header__logo {
  height: 2rem; 
}

.header__button-n-text {
  margin: auto; 
  align-self: center;
}

/*
.body-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-bottom: 2rem;
 grid-template-columns:
 [left-start]1fr[two-start]1fr[three-start]1fr[four-start]1fr[five-start]1fr[six-start]1fr[very-center]1fr[eight-start]1fr[nine-start]1fr[ten-start]1fr[eleven-start]1fr[tweele-start]1fr[right-end]
 ;
  grid-template-rows: repeat(6, 85vh);
}  
*/
