*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;

}