//about section

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 4rem;
    }

    &--main {
        font-size: 5rem;
        letter-spacing: 1.85rem;
        font-weight: 700;
        animation: headerFromLeft 1.75s ease-in .25s forwards;

        @include respond(tab-port) {
            letter-spacing: 1.175rem;

        }
    }

    &--sub {
        font-size: 1.75rem;
        letter-spacing: 1rem;
        font-weight: 400;
        animation: headerFromRight 1.75s ease-in-out .25s forwards;

        @include respond(tab-port) {
            letter-spacing: 1.15rem;

        }
    
    }


}

.heading-secondary {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    transition: all .5s;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    color: transparent;


    &:hover {
        background-image: linear-gradient(to left, $primary-color-light, $primary-color-dark);
        transform: skewY(2deg) skewX(9deg) scale(1.1);
    }

    @include respond(tab-port) {
        letter-spacing: .5px;
        font-size: 2.25rem;
    }

    @include respond(tab-port) {
        letter-spacing: .25px;
        font-size: 2rem;
    }
}

.heading-tertiary {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.25rem;
    color: $dark-gray-1;
}

.section-about p {
    font-size: 1.125rem;
    color: $dark-gray-1;
    font-weight: 600;


    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}
