.mar-b-s {
    margin-bottom: 1.5rem;
} 

.mar-b-m {
    margin-bottom: 3rem;
} 

.mar-b-l {
    margin-bottom: 4.5rem;
}

.mar-b-xl {
    margin-bottom: 7rem;
}

.mar-t-s {
    margin-top: 1.5rem;
} 

.mar-t-m {
    margin-top: 3rem;
} 

.mar-t-l {
    margin-top: 4.5rem;
}

.u-center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.hor-pad-m {
    padding: 0 8rem;
}

.counter-skewY {
    transform: skewY(5deg);

}

.minor-scale {
    transform: scale(1.1);
}

.btn-round {
    border-radius: 30px;
}

.btn-general {
    width: 21rem;
    height: 4.5rem;
}
