.mar-b-s {
    margin-bottom: 1.5rem;
} 

.mar-b-m {
    margin-bottom: 3rem;
} 

.mar-b-l {
    margin-bottom: 4.5rem;
}

.mar-t-s {
    margin-top: 1.5rem;
} 

.mar-t-m {
    margin-top: 3rem;
} 

.mar-t-l {
    margin-top: 4.5rem;
}

.u-center-text {
    text-align: center;
}

.hor-pad-m {
    padding: 0 8rem;
}

