.btn {
    border: none;
    border-radius: 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;

    /* 
    .btn::after and .btn:hover::after transition/transform, opacity is used to create the flash effect of hovering over the button
    */ 
  
    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      /*    
      height/width/border-radius, etc. set to 100% 
      so it matches the element that it is "psuedo'd to"     
      */
      width: 100%;
      border-radius: 2.5rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .225s;
       
    }

    &:focus {
      display: none;
    }

    &:hover::after {
      transform: scaleX(1.75) scaleY(1.175);
      opacity: 0; 
    }

    &,
  
    &:link, 
    &:visited {
      text-decoration: none; 
    }

    &--white {
      border: none;
      border-radius: 2.5rem;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
      box-shadow: 0 0.75rem 1.25rem $shadow;
      position: relative;
      animation: discover_btn 1.25s ease-in .25s backwards;
      background-color: $white;
      color: $med-gray;
      padding: 1rem 2.25rem; 
    }

    &--green {
      background-color: $color-primary-light;
      border: none;
      margin: 0 auto;
      border-radius: 2.5rem;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase;
      display: inline-block;
      padding: $general-size 3rem; 
      box-shadow: 1rem .5rem 2rem $shadow;
      margin-top: 3.5rem;
      z-index: 1;


      &--popup {
        background-color: $color-primary-light;
        border: none;
        margin: 0 auto;
        border-radius: 2.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        padding: $general-size 3rem; 
        box-shadow: 1rem .5rem 2rem $shadow;
        margin-top: 3.5rem;
        z-index: 1;
      }

    }

    &--animated:hover {
      transform: translateY(-0.25rem); 
    }

    &--animated:active {
      transform: translateY(0.125rem); 
    }
      
    &--animated::after {
      background-color: $white;
      max-width: 16rem;
    }

    &--animated--popup:hover {
      transform: translateY(-0.25rem); 
    }

    &--animated--popup:active {
      transform: translateY(0.125rem); 
    }
      
    &--animated--popup::after {
      background-color: $dark-gray;

    }
    
  
  }

  .btn-about {

    margin-top: $small;

    &:last-of-type {
      display: block;
      width: 100%;
      margin-top: 2rem;
      transition: all 1.5s;
      opacity: 1;
    }

    &:hover {
      transform: translateX(-10%);
      width: 50%;
      transition: all 1s;
    }

    &:active {
      transform: translateX(120%);
      opacity: 0;
      animation-fill-mode: forwards;

    }

    &:link,
    &:visited {
      color: $color-primary-dark;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary-dark;
      padding: .5rem $general-size;
      transition: all 1s;
    }

    &:hover {
      font-size: $default-font-size;
      color: $white;
      box-shadow: 0 1rem 2rem $shadow;
      background-color: $color-primary-dark;
      border-bottom: 1px solid $white;
      transform: scaleY(-2px);
    }

    &:active {
      box-shadow: 0 .5rem 1rem $shadow;
      transform: scaleY(0px);
      transition: all .25s;

      
    }

  }

