.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem $shadow;
    background-color: $white;
    border-radius: border-radius--small;
    padding: 6rem;
    padding-left: 9rem;
    font-size: 1.5rem;
    transform: skewX(-12deg);
    background-color: rgba($white, .6);

   

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: 50%;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(47% at 47% 50%);
        transform: translateX(-3rem);
        position: relative;
    }

    & > * {
        transform: skewX(12deg);
    }

    &__img {
        width: 100%;
        height: 100%;
        transform: scale(1.75);
        transition: all 1s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, 120%);
        color: $white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-60%, -50%);
    }

    &:hover &__img {
        transform: translateY(-1rem) scale(1.15);
        filter: blur(10px) brightness(75%);
    }

    &:first-child {
        margin-bottom: $med;
    }


}