
.container {
    max-width: 120rem;
    min-height: 80vh;

    margin: 8rem auto;
    background-color: var(--grey-light-2);
    box-shadow: var(--dark-shadow);

}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--gray-light-1);
}

.content {
    background-color: #fff;
    display: flex;
}

.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
}