
.container {
    max-width: 120rem;
    min-height: 80vh;

    margin: 8rem auto;
    background-color: var(--grey-light-2);
    box-shadow: var(--dark-shadow);

}

.header {
    height: 6.5rem;
    background-color: #fff;
    border-bottom: var(--grey-light-1);
    background-color: var(--grey-dark-3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;

    &__search   {
        display: flex;
        flex: 1.5;
        align-items: center;
        justify-content: flex-end;

    }
}

.user-nav {
    display: flex;
    flex: 1;
    justify-content: right;
    
}

.content {
    background-color: #fff;
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: var(--grey-dark-1);
    
}

.hotel-view {
    flex: 1.5;
    background-color: orangered;
}