footer {

    background-color: $dark-gray-3;
    padding: 20rem 12.5rem;

    &__logo-box {
        width: 15rem;
    }

    &__navigation {

    }

    &__list {

    }

    &__item {

    }

    &__link {

    }

    &__copyright {

    }

}