.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-color-light, .8), 
        rgba($primary-color-dark, .7)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    position: relative;


    margin-bottom: -25rem;

    @include respond(tab-land) {
        margin-bottom: -36rem;
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 2rem;
    
    }
    
    &__logo {
        height: 2rem;
        
    }
    
    &__text--btn {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__text--btn-btn {
        margin-top: 3rem;
    }
}


span {
    display: block;
}

//about section

.section-about  {
    background-color: $light-gray-1;
    padding: 35rem 20rem 20rem;
    
    @include respond(phone) {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
    & > .row {
        @include respond(tab-land) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & > [class^="col-"] {
            width: 75%;
        }
    }

    @include respond(tab-land) {
        position: relative;
        padding-top: 7.5rem;
        padding-bottom: 20vw;
    }

}

.image-container {
    height: 100%;

}

.row {
    display: flex;
    gap: 3rem;
    justify-content: center;

    @include respond(phone) {
        padding-right: 0rem;
        padding-left: 0rem;    }
}

.col-1-of-2 {
    width: 50%;
    position: relative;
    
}

.col-2-of-2 {
    width: 50%;
    position: relative;
}


//adjsut icon wolrd size in features section

.col-1-of-4 {
    margin: 2rem;
}

[class^='col-1'] {

    display: flex;
    justify-content: center;

}


[class^='row']:not(:last-of-type) {
    @include respond(tab-land) {
        justify-content: center;
    }
}


.section-features {


    padding: 20rem 0;
    margin-top: -6rem;
    background-image: linear-gradient(
        to right bottom, 
        rgba($primary-color-light, .8), 
        rgba($primary-color-dark, .7)), 
        url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-5deg);

    & > * {
        transform: skewY(5deg);
    }

    & .row {
        flex-wrap: wrap;
    }

}

.icon-basic-world {
    display: inline-block;
}

.icon-basic-compass {
    display: inline-block;
}

.icon-basic-map {
    display: inline-block;
}

.icon-basic-heart {
    display: inline-block;
}

.section-tours {
    padding: 15rem 15rem;
    margin-top: -20vh;
    transform: skewY(-5deg);

    & > *:not(:first-child) {
        transform: skewY(5deg);
    }

    & .row {
        gap: 4rem;
        flex-wrap: wrap;

    }

    & > .row {
        @include respond(tab-port) {
            display: block;

            & >* {
                width: 100%;
                margin-bottom: 10rem;

                & >* {
                    width: 45%;
                }
            }
        }
    }

}

.section-story {
    transform: skewY(-5deg);
    padding: 15rem 0;
    text-align: center;
    position: relative;
}


.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
                       $primary-color-light,
                       $primary-color-dark);
    transform: skewY(-5deg);
    
    & > .row {
        display: block;
    }
}

.book {
    width: 87.5%;
    margin: 0 auto;
    background-image: linear-gradient(102.5deg,
                      rgba($white, .8) 35%,
                      rgba($white, .0) 35.1%), 
                      url(/img/nat-10.jpg);
    background-repeat: no-repeat;
    background-size: 126%;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($shadow-black, .3);
    object-fit: contain;

    height: 50rem;
    padding: 5rem 7.5rem 0;

    @include respond(tab-land) {
        background-image: linear-gradient(102.5deg,
                      rgba($white, .8) 43%,
                      rgba($white, .0) 43.1%), 
                      url(/img/nat-10.jpg);
        background-size: 176%;
              
    }


}

